body{
    background-color: #737373;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  
  
  .overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 400px;                /* Parallax effect */
  }
  
  
  .overview p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
  }
  
  h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }
  
  h2{
    font-size: 32px;
    line-height: 1.5;
  }